$container-width: 168rem;

$basic-font-size: 10px;
$basic-font-stack: "Open Sans", sans-serif, Helvetica, Arial;

$large-break-point: 1200px;
$medium-break-point: 1060px;
$small-break-point: 840px;
$smaller-break-point: 700px;
$tiny-break-point: 350px;
