#root {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}
.aside {
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.deviceContainer {
  border: 1px solid black;
  padding: 15px;
}
