#root {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}
.aside {
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #66afc2;
  min-height: 100vh;
}
.main {
  flex-basis: 85%;
}
.houseInfo {
  margin: 25px auto 40px;
  text-align: center;
  &__btn {
    margin-top: 10px;
  }
}
.btn {
  align-self: center;
  font-family: arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: rgb(68, 68, 68);
  text-decoration: none;
  user-select: none;
  padding: 10px 12px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: rgb(245, 245, 245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all 0.218s ease 0s;
  &:hover {
    color: rgb(24, 24, 24);
    border: 1px solid rgb(198, 198, 198);
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  &:active {
    color: rgb(51, 51, 51);
    border: 1px solid rgb(204, 204, 204);
    background: rgb(238, 238, 238)
      linear-gradient(rgb(238, 238, 238), rgb(224, 224, 224));
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  }
  &:disabled {
    color: rgb(121, 121, 121);
    background: rgb(245, 245, 245) linear-gradient(#d8d8d8, #d1d1d1);
  }
}
.deviceContainer {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  text-align: center;
  padding: 25px;
  margin: 10px;
  &__type,
  &__name,
  &__state,
  &__brightness,
  &__volume,
  &__channel,
  &__temperature,
  &__mode,
  &__speed {
    flex-basis: 100%;
  }
  &__btn {
    flex-basis: 50%;
    &_remove {
      color: red;
    }
    &_mode {
      margin: 0 35%;
    }
  }
}

.addDevice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  &__heading {
    flex-basis: 100%;
  }
  &__deviceHeading {
    text-align: center;
  }
  &__deviceButton {
    width: 256px;
    height: 256px;
    outline: none;
    border: none;
    &_tv {
      background: url("../img/TV.png") 100% / cover no-repeat;
    }
    &_bulb {
      background: url("../img/bulb.png") 100% / cover no-repeat;
    }
    &_conditioner {
      background: url("../img/cond.png") 100% / cover no-repeat;
    }
  }
}

.modal {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.308);
  display: flex;
  justify-content: center;
  align-items: center;
  &__heading {
    text-align: center;
  }
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 60px 30px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #fefefe;
  }
  &__input {
    margin-bottom: 10px;
  }
  &__cancelButton {
    width: 20px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    right: 10px;
    top: 10px;
    transform: rotate(135deg);
    &::before {
      display: block;
      content: "";
      width: 20px;
      height: 4px;
      border-radius: 4px;
      background-color: #000;
      transform: rotate(90deg);
    }
  }
}

.addDeviceContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.devices {
  display: flex;
  flex-wrap: wrap;
}
